<div class="page-title">
  <div class="title_left">
    <h3>Kêu gọi khách hàng<small>Những khách hàng đã quá chu kì mà chưa thực hiện giao dịch lại.</small></h3>
  </div>
</div>
<div class="clearfix"></div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Danh sách các khách hàng "Loại Thường Xuyên"</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p class="text-muted font-13 m-b-30">
       Tập hợp danh sách tất cả các khách hàng <code>Thường Xuyên</code> của bạn, là những khách hàng có chu kì đổ nhiên liệu trong phạm vi<code>5 ngày</code>.<br>
        </p>
        <table id="datatable-buttons1" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Tên</th>
              <th>Biển số xe</th>
              <th>SĐT</th>
              <th>Loại khách hàng</th>
              <th>Giao dịch gần nhất</th>
              <th>Thuộc công ty</th>
              <th>Thực hiện cuộc gọi</th>
              <th>Tác vụ</th>
            </tr>
          </thead>

          <tbody>
            <% @usually_customers.each do |customer| %>
              <tr>
                <td><%= customer.name %></td>
                <td><%= customer.car_number %></td>
                <td><%= customer.phone %></td>
                <td><%= customer.type_customer %></td>
                <td><%= customer.petro.day_fuel.strftime('%d/%m/%Y') %></td>
                <td><%= customer.company %></td>
                <% if customer.petro.calltimes.length > 0 %>
                  <td style="background-color: #60a917; color: white">Đã thực hiện <span><%= customer.petro.calltimes.length %></span> cuộc gọi</td>
                <% else %>
                  <td> chưa thực hiện cuộc gọi nào</td>
                <% end %>
                <td>
                  <%= link_to calltimes_path(customer.petro.id),:method => :get, :class => 'btn btn-primary' do %>
                    <i class="glyphicon glyphicon-earphone"></i>
                    <span>Gọi</span>
                  <% end %>
                  <%= link_to "Chi tiết", customer_path(customer), { :class => 'btn btn-warning' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
        <%= paginate @usually_customers %>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <div class="x_panel">
      <div class="x_title">
        <h2>Danh sách các khách hàng "Loại Không Thường Xuyên"</h2>
        <ul class="nav navbar-right panel_toolbox">
          <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Settings 1</a>
              </li>
              <li><a href="#">Settings 2</a>
              </li>
            </ul>
          </li>
          <li><a class="close-link"><i class="fa fa-close"></i></a>
          </li>
        </ul>
        <div class="clearfix"></div>
      </div>
      <div class="x_content">
        <p class="text-muted font-13 m-b-30">
       Tập hợp danh sách tất cả các khách hàng <code>Không Thường Xuyên</code> của bạn, là những khách hàng có chu kì đổ nhiên liệu trong phạm vi <code>15 ngày</code>.<br>
        </p>
        <table id="datatable-buttons" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Tên</th>
              <th>Biển số xe</th>
              <th>SĐT</th>
              <th>Loại khách hàng</th>
              <th>Giao dịch gần nhất</th>
              <th>thuộc công ty</th>
              <th>Thực hiện cuộc gọi</th>
              <th>Tác vụ</th>
            </tr>
          </thead>

          <tbody>
            <% @rarely_customers.each do |customer| %>
              <tr>
                <td><%= customer.name %></td>
                <td><%= customer.car_number %></td>
                <td><%= customer.phone %></td>
                <td><%= customer.type_customer %></td>
                <td><%= customer.petro.day_fuel.strftime('%d/%m/%Y') %></td>
                <td><%= customer.company %></td>
                <% if customer.petro.calltimes.length > 0 %>
                  <td style="background-color: #60a917; color: white">Đã thực hiện <span><%= customer.petro.calltimes.length %></span> cuộc gọi</td>
                <% else %>
                  <td> chưa thực hiện cuộc gọi nào</td>
                <% end %>
                <td>
                  <%= link_to calltimes_path(customer.petro.id),:method => :get, :class => 'btn btn-primary' do %>
                    <i class="glyphicon glyphicon-earphone"></i>
                    <span>Gọi</span>
                  <% end %>
                  <%= link_to "Chi tiết", customer_path(customer), { :class => 'btn btn-warning' } %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>

        <%= paginate @rarely_customers %>
      </div>
    </div>
  </div>
</div>
